

@media screen and (min-width: 414px) and (max-width: 427px)
{
    .sakura{
        position: relative;
        top: 28em;
    }
    .footer-info{
        position: relative;
        top: 33em;
        left: 1.5em;
    }
    .location{
        position: relative;
        top: 28em;
    }
    .box-price-button{
        position: relative;
        top: 23em;
        left: 4.3em;
    }
    .foto img{
        position: relative;
        left: 3em;
    }
    section{
        position: relative;
        left: 2em;
    }
}
