.security-box{
    display: flex;
    position: relative;
    top: 4%;
}
.tex h3{
    font-size: 28px;
    position: relative;
    left: 5%;
    font-family: "Playwrite SK", sans-serif;
}
.tex p {
    position: relative;
    font-size: 18px;
    left: 5%;
    top: 5px;
    width: 230px;
    padding-right: 5%;
}
.tex {
    animation: apper 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 50%;
}
@keyframes apper {
    from{
        opacity: 0;
        translate: -150vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
.foto img{
    position: relative;
    right: -4px;
    border-radius: 75px;
    animation: upper 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 50%;
}
@keyframes upper {
    from{
        opacity: 0;
        translate: 150vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}


.exp{
    position: relative;
    top: 8%;
    display: flex;
}
.image-coffe img{
    border-radius: 75px;
    position: relative;
    left: 8%;
    top: 3em;
    animation: apper 10ms;
    animation-timeline: scroll();
    animation-range: cover 0% cover 70%;
}
.text-exp h4{
    font-size: 28px;
    position: relative;
    
    left: 15%;
    font-family: "Playwrite SK", sans-serif;
}
.text-exp p{
    position: relative;
    font-size: 18px;
    left: 15%;
    top: 5px;
    width: 230px;
    padding-left: 1%;
}
.text-exp{
    animation: upper 10ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 70%;
}
.location{
    position: relative;
    top: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location p {
    font-size: 33px;
    margin-bottom: 18px;
}
.location img{
    margin-bottom: 20px;
}
.location iframe{
    border-radius: 50px;
}

.box-location{
    margin-top: 20px;
    display: flex;
}
.box-location .location-1{
    font-size: 22px;
    margin-left: 35px;
}
.box-location img {
    margin-right: 4em;
}
.footer-info{
    position: relative;
    top: 25em;
    background-color: #a88cfc;
    width: 95vw;
    left: 0.7em;
    border-radius: 30px;
    padding: 3px;
    padding-top: 5px;
}
.footer-info h5{
    font-size: 25px;
    margin-left: 3em;
}
.footer-info ul li{
    margin-left: 38px;
    margin-bottom: 10px;
    font-size: 21px;
}
.footer-info ul li a {
    text-decoration: none;
    color: rgb(122, 0, 244);
    cursor: pointer;
}
.sakura{
    z-index: -10;
    position: relative;
    top: 8%;
}