*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background: linear-gradient(180deg, #c79bf7, #5d10ed);
 height: 300vh;
 z-index: -2;
}
#blur.active{
    filter: blur(10px);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    left: 2%;
    background-color: azure;
    width: 80vw;
    border-radius: 160px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 60vw;
    border-radius: 10px;
}
.titulo{
    color: #bd9ef5;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 3px;
    left: 5%;
    font-family: "Playwrite SK", sans-serif;
}
.resumo{
    color: #bd9ff6;
    width: 385px;
    font-size: 1.2em;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: "Playwrite SK", sans-serif;
}
.description {
    border: 1px solid gold;
    position: relative;
    top: 20px;
    width: 390px;
    height: 400px;
    left: 1px;
}
section {
    position: relative;
    top: 40px;
    width: 425px;
}
.ext {
    display: flex;
    justify-content: center;
    
}
.ext h2 {
    font-size: 35px;
    font-family: "Playwrite SK", sans-serif;

}
.text {
    width: 410px;
    
}
.text p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 550;
    position: relative;
    left: 13px;
}
.dicas{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 5px;
}
.box-image{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    gap: 40px;
}  
.box-image img {
    width: 150px;
    border-radius: 50%;

}
#aparecer{
    position: fixed;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    
}
#aparecer img{
    border-radius: 50px;
}
#aparecer button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #bea8e7;
}
#aparecer button:active{
    background-color: #966de2;
   
}
#aparecer.ativo{
    visibility: visible;
    opacity: 9;
    transition: 0.5s;
    
}
#aparecer.close {
    transition: 0.5s;
}

.box-price-button{
    position: relative;
    top: 20em;
    left: 4.5em;
}
.price-button button{
    height: 50px;
    width: 320px;
    border-radius: 150px;
    border: none;
    font-size: 20px;
    animation-name:  pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
    background: linear-gradient(25deg , #4b31f2, #dbcef6 );
    
}
.price-button button a{
    text-decoration: none;
    color: black;
}
@keyframes  pulse {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}