.security-box{
    display: flex;
    position: relative;
    top: 8%;
}
.tex h3{
    font-size: 28px;
    position: relative;
    left: 5%;
    font-family: "Playwrite SK", sans-serif;
}
.tex p {
    position: relative;
    font-size: 18px;
    left: 5%;
    top: 5px;
    width: 260px;
    padding-right: 5%;
}
.tex {
    animation: apper 1s;
    animation-timeline: scroll();
}
@keyframes apper {
    from{
        opacity: 0;
        translate: -150vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
.foto img{
    position: relative;
    right: -10px;
    border-radius: 75px;
    animation: upper 1s;
    animation-timeline: scroll();
}
@keyframes upper {
    from{
        opacity: 0;
        translate: 150vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}


.exp{
    position: relative;
    top: 12%;
    display: flex;
}
.image-coffe img{
    border-radius: 75px;
    position: relative;
    left: 8%;
    animation: apper 5s;
    animation-timeline: scroll();
}
.text-exp h4{
    font-size: 28px;
    position: relative;
    left: 18%;
    font-family: "Playwrite SK", sans-serif;
}
.text-exp p{
    position: relative;
    font-size: 18px;
    left: 10%;
    top: 5px;
    width: 255px;
    padding-left: 1%;
}
.text-exp{
    animation: upper 5s;
    animation-timeline: scroll();
}